#input-first {
  max-width: 525px;
  margin-right: 20px;
  border-color: black;
  border-radius: 33px;
  height: 47px;
  padding-left: 50px;
  margin-top: 13px;
}

#icon {
  position: absolute;
  top: 23px;
  right: 15px;
  left: 241px;
  bottom: 20px;
  font-size: 29px;
  color: lightgray;
}

#shoping-logo {
  margin-top: 22px;
  font-size: 27px;
}

#country-logo {
  margin-top: 22px;
  border-color: black;
}

#counstry-box {
  position: absolute;
  left: 1214px;
  right: 10px;
  bottom: 8px;
  top: 5px;
  font-size: 60px;
}

#shop-box {
  position: absolute;
  left: 889px;
  right: 10px;
  bottom: 8px;
  top: 5px;
  font-size: 60px;
}

#star-logo {
  color: black;
  background-color: lightgray;
  border-radius: 30px;
  padding: 10px;
  font-size: 35px;
  margin-right: "10px";

}

#explore-button{
  position: relative;
  top: 30px;
  bottom: 80px;
  left: 100px;
  right: 30px;
}